root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.sln]
end_of_line = crlf

[*.csproj]
end_of_line = crlf

[*.props]
end_of_line = crlf

[*.targets]
end_of_line = crlf

[*.ps1]
end_of_line = crlf
